<!DOCTYPE html>
<html>
  <head>
    <title>RailsLesson2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <div class="header-img">
        <a href="/"><img src="/logo.png"></a>
      </div>
      <div class="header-right">
        <ul class="header-list">
          <% if @current_user %>
            <li class="align">
              <%= @current_user.name %>
            </li>
            <li>
              <div class="currentuser-img">
              <img src="<%= "/user_image/#{@current_user.image_name}" %>">
              </div>
            </li>
            <li class="align line-bottom">
              <%= link_to("ルーム登録", "/rooms/new") %>
            </li>
            <li class="align line-bottom">
              <%= link_to("ルーム一覧", "/users/#{@current_user.id}") %>
            </li>
            <li class="align line-bottom">
              <%= link_to("予約済み一覧", "/users/#{@current_user.id}/reservations") %>
            </li>
            <li class="align line-bottom">
              <%= link_to("アカウント", "/users/#{@current_user.id}/account") %>
            </li>
            <li class="align line-bottom">
              <%= link_to("ログアウト", "/users/logout") %>
            </li>
          <% else %>
            <li class="login-btn">
              <a href="/users/login">ログイン</a>
            </li>
            <li class="regi-btn">
              <a href="/users/new">新規登録</a>
            </li>
          <% end %>
        </ul>
      </div>
      
    </header>
    
    <div class="flash">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <p class="footer">
        @2021 FUJIKAWA-IKU.INC
      </p>
    </footer>

  </body>

</html>
